<div class="d-flex flex-wrap justify-content-center p-4">
  <div class="card m-3" *ngFor="let pokemon of pokemonList">
    <img src="{{pokemon.image}}" class="card-img-top" alt="{{pokemon.name}}">
    <div class="card-body">
      <div class="card-info">
        <h5 class="card-title">{{pokemon.name}}</h5>
      </div>
      <div class="card-types">
        <ng-container *ngFor="let type of pokemon.types">
          <h5><span [ngClass]="'badge '.concat(colorByType(type))">{{type}}</span></h5>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<nav>
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>